[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "index-url"
verify_ssl = true
name = ""

[packages]
numpy = "*"
pillow = "*"
tensorflow = "*"
requests = "*"
gunicorn = "*"
flask = "*"
streamlit = "*"

